
.table-container {
  background: lightgray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  margin-top: 24px;
}

.creative-table {
  width: auto; 
  border-collapse: collapse;
  font-size: 14px;
  
}

.creative-table th {
  background-color: #f8fafc;
  color: #64748b;
  font-weight: 600;
  text-align: left;
  padding: 12px 16px;
  border-bottom: 1px solid #e2e8f0;
}

.creative-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #f1f5f9;
  color: #334155;
}


.creative-table tr:hover {
  background-color: #f8fafc;
}

.sortable-header {
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
}
